@model IEnumerable<MusicForNow.Models.Album>

<h2>Album List</h2>
<br />
@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-danger" href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Add New Album</a>
    </p>
    <br />
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="column">
            <div class="card" id="@item.Album_ID">
                <div>
                    <h4 class="cardElements"><b>@item.Album_Title</b></h4>
                    <p class="cardElements">Artist: @Html.DisplayFor(m => item.Artist1.Name)</p>
                </div>
            </div>
        </div>
    }
</div>

<!-- modal pop up -->
<div id='myModalAL' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">Details</h2>
            </div>
            <div id='myModalContentAL' class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.card').on('click', function () {
                var id_art = $(this).attr("id");
                var url = '/Albums/Details';
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id_art },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContentAL').html(data);
                        $('#myModalAL').modal(options);
                        $('#myModalAL').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#myModalAL').modal('hide');
            });
        });
    </script>
}